<section class="form-section">

  <div class="text">
    <h3>Fique por dentro de tedências</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia nam aut id ratione laborum asperiores labore,
      dolore non quod temporibus et ex, illo, nesciunt voluptatibus laboriosam quis neque iusto corporis.</p>
  </div>

  <form>
    <label for="name">Name</label>
    <input type="text" id="name">
    <label for="email">Email</label>
    <input type="text" id="email">
    <app-btn-primary></app-btn-primary>
  </form>

</section>
