<app-header></app-header>
<main>
  <section class="main-section pad-70">
    <div class="headline">
      <span>CAVALCANTI CONSULTORIA</span>
      <h1>A Consuntoria que você busca para seu software</h1>
    </div>
    <img ngSrc="./assets/principal.png" alt="mulheres com seus tablets" width="669" height="536">
  </section>

  <section class="benefit-section pad-70">
    <div class="benefit-data">
      <h2>
        95% das<br/>
        Empresas
      </h2>
    </div>
    <p>
      Não sabem como lidar com problemas de <b>escalabilidade</b> e grande volume de requisições.
    </p>
  </section>

  <section class="cta-section">
    <app-btn-primary btn-text="Fale com um de nossos especialistas"></app-btn-primary>
  </section>
  <app-newsletter-form></app-newsletter-form>

  <section class="benefit-section pad-70">
    <app-benefit
      card-title="Equipe capacitada"
      img-path="/assets/team.png"
      card-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna.
      Pellentesque sit amet sapien fringilla, mattis ligula consectetur."
    >
  </app-benefit>
    <app-benefit
    card-title="Seus projetos guiados do zero"
    img-path="/assets/project-guide.png"
    card-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna.
    Pellentesque sit amet sapien fringilla, mattis ligula consectetur."
    >
    </app-benefit>
  </section>

</main>
